page-create-user{

    ion-content {
        background-color: #9C27B0
        !important;
        color: white;
    }

    .toolbar-background-md, .bar-button-default-md{
        border-color: #b2b2b2;
        background: #7B1FA2;
        color: white;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
 

    ion-button, .button-outline-md, .button-md{
        border-width: 1px;
        border-style: solid;
        border-color: white !important;
        color: white !important;
        background-color: transparent;
        border-radius: 6px;
        overflow: hidden;
        height: 4.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0.4rem 0.2rem;
        padding: 0 4.0em;
    }

    ion-item{
        background-color: #9C27B0 !important;
    }
    
    ion-input{
        color: white !important
    }
    
        

  
}