<ion-header>
  <ion-navbar>
    <ion-title>Criar conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <form novalidate [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <ion-list inset>
      <ion-item>
          <ion-label></ion-label>
          <ion-input type="text" placeholder="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label></ion-label>
          <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label></ion-label>
          <ion-input type="password" placeholder="senha" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label></ion-label>
          <ion-input type="password" placeholder="Redigite a Senha" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>
    <div text-center>
      <button type="submit" ion-button outline  [disabled]="registerForm.invalid">Criar</button>
    </div>
  </form>
</ion-content>
