<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <ion-list inset>
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="password" placeholder="senha" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding text-center>
      <button type="submit" ion-button outline [disabled]="loginForm.invalid">Fazer Login</button>
    </div>

  </form>
</ion-content>