<!--
  Generated template for the TaskDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Nome:
      </ion-col>
      <ion-col>
       {{task.name}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Status:
      </ion-col>
      <ion-col>
        {{ task.status == true? "Concluido": "Pendente"}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Data:
      </ion-col>
      <ion-col>
        {{datetime[0]}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Hora:
      </ion-col>
      <ion-col>
        {{datetime[1]}}
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
