<ion-content text-center>
    <div class=center>
        <div class="glitch centralizar" data-text="MyList">MyList</div> 
    </div>
</ion-content>
<ion-footer>
    <div class="container-buttons">
        <ion-grid>
            <ion-row>
                <ion-col text-center>
                    <button ion-button outline [navPush]="'create-user'">Criar conta</button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button outline [navPush]="'login'" >Fazer Login</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-footer>