.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  page-create-user{
    .text-input::-moz-placeholder {
      color: white !important;
    }

    .text-input:-ms-input-placeholder {
      color: white !important;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: white !important;
    }
  }
  
  page-login{
    .text-input::-moz-placeholder {
      color: white !important;
    }

    .text-input:-ms-input-placeholder {
      color: white !important;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: white !important;
    }
  }

  page-start{
    .text-input::-moz-placeholder {
      color: white !important;
    }

    .text-input:-ms-input-placeholder {
      color: white !important;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: white !important;
    }
  }
